/*
#TheSparksFoundationInternship
#GripJune21
#WebDevInternship
#Task3
#PaymentGatewayIntegration	
#KrithikaNithyanandam
*/

/* Beginning of CSS */

.animcontainer{
    animation: transitionIn 1.3s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #df280377;
    color: white; 
    border-radius: 40px;
  }
  
  .button1:hover {
    background-color: #440d0277;
    color: white;
    padding: 15px 30px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #df2803d3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  #myBtn:hover {
    background-color: #440d02dc;
  }	
  html {
    scroll-behavior: smooth;
  }

body
{
    font-family: 'Montserrat', sans-serif;
    color: #41484b;
}

#HomePage {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;
}

#HomePage {
    background-image: url('../images/header.png');
    overflow: hidden;
}

#HomePage {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.header-text h1
{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

.header-text .vertical-line
{
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-text p
{
    font-size: 26px;
    color: #fff;
    font-weight: 350;
}

.bethechange img
{
    width: 100%;
    border-radius: 20px
}

.nopadding 
{
   padding: 0 !important;
   margin: 0 !important;
}

.feature-box
{
    padding: 20px;
}

.feature-box h1
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;   
    margin-top: 2em;
}

.feature-box p
{
    font-size: 25px;
    text-align: justify;
    font-weight: 390;
}

.gallery .heading
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 50px 0px;
}

.gallery img
{
    width: 100%;
    cursor: pointer;
    border-radius: 20px
}

.gallery .last-img
{
    margin-bottom: 20px;
    border-radius: 20px
}

.passage
{
    background-color: #550202;
    color: #fff;
    padding: 50px 0px;
    margin-top: 50px;
}

.passage h1
{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin: 0px;
}

.passage p
{
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 390;
}

.passage span
{

    font-size: 24px;
    font-weight: 390;
}

footer
{
    text-align: center;
    margin-top: 30px;
}


footer .copyright
{
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 390;
    display: block;
}

@media (max-width: 480px) {
	
}

@media (max-width: 767px) {
    .header-text h1 {
        font-weight: 500;
        font-size: 45px;
    }

    .header-text .vertical-line {        
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header-text p {
        font-size: 20px;
        color: #fff;
        font-weight: 390;
    }

    .feature-box {
        padding: 0px;
    }

    .feature-box h1 {
        font-size: 25px;
        margin-top: 2em;
        font-weight: 500;
    }

    .feature-box p {
        font-size: 20px;
        text-align: justify;
        font-weight: 390;
    }

    .nopadding {
        padding: 15px !important;
        margin: 0 !important;
    }

    .gallery img {        
        margin-bottom: 15px;
        border-radius: 20px
    }

    .passage h1 {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 15px !important;
        margin: 0px;
    }

    .passage p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .passage span {
        font-size: 15px;
        font-weight: bold;
    }

    footer .copyright {
        font-size: 16px;
        margin-bottom: 20px;
        display: block;
    }
}


@media (min-width: 768px) {  
    .header-text h1 {
        font-weight: 100;
        font-size: 45px;
    }

    .header-text p {
        font-size: 20px;
        color: #fff;
    }

    .feature-box h1 {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 1em;
    }
	
    .feature-box p {
        font-size: 18px;
        text-align: justify;
        font-weight: 390;
    }

    .passage h1 {
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 13px !important;
        margin: 0px;
    }

    .passage p {
        font-size: 14px;
        margin-bottom: 13px;
    }

    .passage span {
        font-size: 17px;
        font-weight: bold;
    }

    footer {
        text-align: center;
        margin-top: 23px;
    }


    footer .copyright {
        font-size: 15px;
    }



}

@media (min-width: 992px) { 
    .feature-box {
        padding: 10px;
    }

    .feature-box h1 {
        font-size: 30px;    
    }

    .feature-box p {
        font-size: 20px;
    }

    .passage p
    {
        font-size: 19px;
    }

    .passage h1 {
        font-size: 30px;
       margin-bottom: 15px !important;
    }

    .passage span {
        font-size: 20px;
    }
}


@media (min-width: 1200px) {
body
{
    font-family: 'Montserrat', sans-serif;
    color: #41484b;
}


#HomePage {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;
}

#HomePage {
    background-image: url('../images/header.png');
    overflow: hidden;
}

#HomePage {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.header-text h1
{
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

.header-text .vertical-line
{
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-text p
{
    font-size: 26px;
    color: #fff;
}

.bethechange img
{
    width: 100%;
    border-radius: 20px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.feature-box
{
    padding: 20px;
}

.feature-box h1
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2em;
}

.feature-box p
{
    font-size: 25px;
    text-align: justify;
    font-weight: 390;
}

/* gallery */
.gallery .heading
{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 50px 0px;
}

.gallery img
{
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
}

.gallery .last-img
{
    margin-bottom: 20px;
    border-radius: 20px
}

/* Passage */
.passage
{
    background-color: #440d02ea;
    color: #fff;
    padding: 50px 0px;
    margin-top: 50px;
}

.passage h1
{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin: 0px;
}

.passage p
{
    font-size: 22px;
    margin-bottom: 20px;
}

.passage span
{

    font-size: 24px;
    font-weight: bold;
}

footer .copyright
{
    font-size: 15px;
    margin-bottom: 20px;
    display: block;
    font-weight: 400; 
}
}